- if current_user.follow?(user)
  .btn.btn-primary.btn-sm.py-0.disabled フォロイー
- else
  = form_with(url: followees_path) do |f|
    = f.hidden_field :username, value: user.name
    = f.submit 'フォローする', class: "btn btn-outline-primary btn-sm py-0"
