.container
  .d-flex.justify-content-center
    .col-sm-12.col-md-4.mb-1
      - if user_signed_in?
        = render "tab"
      = turbo_frame_tag :posts, data: { controller: "drawer" } do
        - @posts.each do |post|
          .mb-1
            = render post
  - if user_signed_in?
    .sticky-bottom.py-4
      = render "form", post: Post.new
