.container.py-5.px-4
  .justify-content-center.row
    .col-8
      - if user_signed_in?
        .mb-3
          = render "form", post: Post.new

      = turbo_frame_tag :posts do
        = render @posts
